nextcloud/app/apps
nextcloud/app/config
nextcloud/app/main
nextcloud/certs
nextcloud/creds
nextcloud/db
nginx-proxy/certs
sonarr/config
satisfactory/config
sabnzbd/config
radarr/config
duckdns/config
duckdns/secrets
lidarr/config
munin/templates/contrib
munin/install.sh
photoprism/creds
photoprism/database
pihole/etc-dnsmasq.d
pihole/etc-pihole
readarr/config
recipes/mediafiles/recipes
